{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-4">
    <h1 class="mb-3">Mon Espace Perso</h1>
    <div class="row">
        <div class="col-md-4">
            {% include 'account/_menu.html.twig' %}
        </div>
        <div class="col-md-8">
            <h3>Modification de mon mot de passe</h3>
            {{ form(modifyPwd) }}
        </div>            
    </div>
</div>
{% endblock %}