{% extends 'base.html.twig' %}

{% block title %}Privacy &amp; Terms{% endblock %}

{% block body %}
    <div class="container markdown-content">
        {{ htmlContents|raw }}
    </div>
{% endblock %}
